.mnumiwizard {
    padding: 13px 19px;
}
.mnumiButton {
    background-image: linear-gradient(#009ad0, #007ab7);
    border-color: #0079b6 #006fa8 #012740;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    color: white;
    padding: 5px 10px;
}
.mnumiButton#removeWizard {
    background-image: linear-gradient(#e27c79, #e27c79);
    border-color: #d9534f;
}
a#addNewWizard {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , white, #9b82d3 4%, #7448a5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #9a7ada #8254cb #76549c;
    border-image: none;
    border-radius: 0.333em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.167em;
    font-weight: bold;
    line-height: 1.429em;
    padding: 0.286em 0.5em 0.357em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
}